
button {
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    vertical-align: top;
    text-align: left;
    font-size: 16pt;
    box-shadow: 2px 2px 8px #303030;
}

.red-button {
    background-color: #812525;
    color: white;
}

.red-button:hover {
    background-color: #b63535;
}

.white-button {
    background-color: rgb(255, 255, 255);
    color: #283180;
}

.white-button:hover {
    background-color: #b5b5b5;
}