
button {
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    vertical-align: top;
    text-align: left;
    font-size: 16pt;
    box-shadow: 2px 2px 8px #303030;
}

.red-button {
    background-color: #b02222;
    color: white;
}

.red-button:hover {
    background-color: #942b2b;
}

.white-button {
    background-color: rgb(255, 255, 255);
    color: #2331af;
}

.white-button:hover {
    background-color: #b5b5b5;
}